*{
background-color: rgb(50, 200, 23);
padding-top: 20;
margin-left: 18;

}
div{
background-color: rgb(11, 80, 140);
color: white;
padding: 20rem;
margin-left: 18rem;
display: inline-block;


}